::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 4px rgba(5, 125, 141, 0.9); 
}

::selection {
    background: transparent;
 }
 ::-moz-selection {
    background: transparent;
 }

 html{
    scroll-behavior: smooth;
 }
body{
    background-color: #161237;
    color: #c0b5d4;
    background-image: url(pic/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    /*display: flex;

    flex-direction: row;
    justify-content: start;
    */
    margin: 0;
    padding: 0;
}

/*.telo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100em;

}*/

/*.nmenu{
   /* background-color: #240480;
    margin-left: 7em;
    margin-right: 7em;
    /*border-radius: 0.5em;
    border: 0.5px solid #ffffff;
    border-radius: 6px;
    transform: skew(-5deg);

}*/

.glavHeader{
   justify-content: center;
    display: flex;
    flex-direction: row;
}

.homeLog{
    font-size: 32px;
    font-weight: bold;
    margin-top: 15px;
}

.homeLog:hover{
    color: rgb(255, 193, 23);
    transition: 0.3s;
}

.menu{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 15px;
    margin: 0;
}

.pod_menu{
    /*padding: 4px 10px 10px 4px;*/
    transform: skewX(10deg);
    margin: 0;
    padding: 0;
    display: inline-block;
}

.tMenu{
    margin-bottom: -20px;
    padding: 0;
}

.hrPodMenu{
    display: inline-block;
    padding: 7px 10px 9px;
    transform: skewX(-10deg);
    margin: 8px;
    border: 0.5px solid rgba(114, 125, 172, 0);
    border-radius: 6px;
}

.hrPodMenu:hover{
    border: 0.5px solid rgb(114, 125, 172);
    border-radius: 6px;
    transition: color.2s;
}

.glav_zag{
    text-align: center;
}

.socMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5em;
}

.socLink{
    /*content: "";
    position: absolute;*/
    width: 28px;
    height: 28px;
    /*top: 50%;
    left: 50%;*/
    transform: translate(-50%,-50%);
    transition: color.2s;
    /*background-size: ;*/
    background-position: 50%;
    background-repeat: no-repeat;
    margin-left: 9px;
    border-radius: 50%;
}

.tikTok{
    background-image: url(pic/icon_tiktok_nocolor.svg);
}

.tikTok:hover{
    background-color: rgb(0, 156, 184);
    
}

.vk{
    background-image: url(pic/icon_vk_nocolor.svg);
}

.vk:hover{
    background-color: rgb(108, 108, 245);
}

.facebook{
    background-image: url(pic/icon_facebook_nocolor.svg);
}

.facebook:hover{
    background-color: blue;
}

.inst{
    background-image: url(pic/icon_instagram_nocolor.svg);
}

.inst:hover{
    background-color: rgb(243, 20, 169);
}

.twitter{
    background-image: url(pic/icon_twitter_nocolor.svg);
}

.twitter:hover{
    background-color: rgb(3, 117, 223);
}

.telegram{
    background-image: url(pic/icon_telegram_nocolor.svg);
}

.telegram:hover{
    background-color: rgb(56, 161, 223);
}

.steam{
    background-image: url(pic/icon_steam_nocolor.svg);
}

.steam:hover{
    background-color: black;
}

.youtube{
    background-image: url(pic/icon_youtube_nocolor.svg);
}

.youtube:hover{
    background-color: rgb(243, 2, 2);
}

.hrSteamLogin{
    font-size: 15px;
    margin-top: 15px;
    border-radius: 6px;
    background-color: #6dae01;
    border: 2px solid #6dae01;
    transform: skewX(-10deg);
    width: 109px;
    height: 40px;
    text-align: center;
    transition: color.5s;
    color: white;

}

.hrSteamLogin:hover{
    border: 2px solid #80cc01;
    transition: color.5s;
    background-color: #80cc01;
}

.steamLogin{
    transform: skewX(10deg);
    margin-top: 12px;
    margin-right: 7px;
    display: inline-block;
}

.steamLoginPic{
    background-image: url(pic/icon_steam_login.svg);
    transform: skewX(10deg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 28px;
    height: 24px;
    margin-top: 12px;
    margin-left: 7px;
    float: left;
}

.hrSteamLogin:hover .steamLoginPic{
    transform: scale(1.2) skewX(10deg);
    transition: 0.5s;
}

a{
    text-decoration: none;
    color: #c0b5d4;
}

.kategori{
    margin-top: 3em;
    /*background-color: #26088328;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*height: 30em;
    margin-left: 7em;
    margin-right: 7em;*/
}

.katName{
    text-align: center;
    margin: 3em;
}

.akk{
    z-index: 100;
    height: 100%;
    display: block;
    width: 12em;
    background-color: #161237;
    float: left;
    position: fixed;
    top: 0;
    left: -12em;
}

.bat{
    position: fixed;
    left: -8em;
    display: block; 
    /*top: 3em;*/
    width: 11em;
    height: 3em;
    background-color: #161237;
    border-radius: 6px;
    text-align: right;

}

.bat:hover{
    background-color: #1b1547;
}

.logoAkk{
    font-size: 32px;
    font-weight: bold;
    margin: 2em 1em 1em 1em;
}

.login{
    display: block;
}

.bar{
    margin-right: 0.1em;
    margin-left: 2em;
}

.topCase{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 1em;
    border-bottom: solid rgb(114, 125, 172) 1px;
    position: relative;
}

.topCase div{
    display: flex;
    flex-direction: row;
}

.topCase img{
    width: 210px;
    margin-bottom: 5px;
}

.topCase:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}

.topCase:hover::after{
    transition: 1s;
    content: ''; 
    position: absolute;
    right: 0;
    bottom: 0;
    border: 7px solid transparent; border-right: 7px solid green; 
    border-bottom: 7px solid green;
}

.caseName{
    font-size: 14px;
    margin-top: 1em;
}

.oldPrice{
    font-size: 14px;
    text-decoration: line-through;
    margin-top: 1em;
    font-style: oblique;
}

.newPrice{
    font-size: 20px;
    color: yellow;
    font-weight: bold;
    margin-top: 0.5em;
    margin-left: 0.3em;
    font-style: oblique;
    margin-bottom: 1em;
}

.texPodderska{
    z-index: 100;
    position: fixed;
    /* width: 15em;
    height: 3em; */
    font-size: 30px;
    background-color: rgb(11, 112, 99);
    right: 0;
    bottom: 0;
    border-top-left-radius: 50%;
    border: 0.3em solid rgb(11, 112, 99);
}

.texPodderska:hover{
    border-bottom: 0.7em solid rgb(11, 112, 99);
    transition: 0.5s;
}